.formContainer {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

.usernameError{
  color: red;
}

.passwordError{
  color: red;
}

.loginError{
  color: red;
}

.signUpLink {
  text-align: center;
  margin-bottom: 10px;
}
