<!--<div class="shopContainer">-->
  <!--<div class="shopItem">-->
    <!--<button (click)="getMessages()">Get Messages</button>-->
    <!--<input #msg/>-->
    <!--<button (click)="addMessage(msg.value)">Send Messages</button>-->
  <!--</div>-->
  <!--<div *ngFor="let message of data; let num = index" (click)="delMessage(num)">{{message}}</div>-->
<!--</div>-->
<div class="leftSection">
  <div class="cosmetics" routerLink="cosmetics" (click)="animateRouter()">
    Cosmetics
  </div>
  <div class="giftCards" routerLink="giftcards" (click)="animateRouter()">
    Gift Cards
  </div>
</div>
<div class="productsList" [@slideComp]="initialAnimation">
  <router-outlet></router-outlet>
</div>
