.homeBody {
  height: 80vh;
  width: 100vw;
  background-image: url("../../assets/images/bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.social i {
  margin: 10px;
  font-size: 2rem;
}
